<p id="notice"><%= notice %></p>

<h2>Edit Score</h2>
<%= form_for(@score) do |f| %>
  <%= render "shared/error_messages", :target => @score %>
  <div class="field">
    <%= f.label :reviewdate, "Review Date" %>
    <%= f.text_field :reviewdate, :value => Time.new.strftime('%d %b %Y') %>
  </div>
  <div class="field">
    <%= f.label :score %>
    <%= f.text_field :score %>
  </div>
  <div class="field">
    <%= f.label :comments %>
    <%= f.text_field :comments %>
  </div>
  <div class="field">
    <%= f.label :price %>
    $<%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :to %>
    <%= f.text_field :to %>
  </div>
  <div class="field">
    <%= f.label :from %>
    <%= f.text_field :from %>
  </div>
  <div class="field">
    <%= f.label :in_fridge %>
    <%= f.check_box :in_fridge %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back to wine', @score.wine %>
