<p id="notice"><%= notice %></p>

<%= link_to 'Back to wine', @bottle.wine %>

<h3>Edit Score</h3>
<%= form_for(@bottle) do |f| %>
  <%= render "shared/error_messages", :target => @bottle %>
  <div class="field">
    <%= f.label :reviewdate, "Review Date" %>
    <%= f.text_field :reviewdate, :class => 'datepicker', :value => Time.new.strftime('%d-%m-%Y') %>
  </div>
  <div class="field">
    <%= f.label :score, 'Score *' %>
    <%= f.text_field :score %>
  </div>
  <div class="field">
    <%= f.label :comments, 'Comments *' %>
    <%= f.text_area :comments, :rows => 4  %>
  </div>
  <div class="field">
    <%= f.label :price, 'Price *' %>
    $<%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :drink_to %>
    <%= f.text_field :drink_to %>
  </div>
  <div class="field">
    <%= f.label :drink_from %>
    <%= f.text_field :drink_from %>
  </div>
  <div class="field">
    <%= f.label :bought %>
    <%= f.text_field :bought %>
  </div>
  <div class="field">
  	<label class="checkbox">
	    <%= f.check_box :in_fridge %> In fridge
  	</label>
  </div>
  <div>
    <button type="submit" class="btn">Submit</button>
  </div>
<% end %>
<script type="text/javascript">
$('.datepicker').datepicker({
    format: 'dd-mm-yyyy'
});
</script>