<p id="notice"><%= notice %></p>

<%= link_to 'Back to wine', @bottle.wine %>

<%= render "wines/summary", :wine => @bottle.wine %>

<h3>Edit Score</h3>

<%= form_for(@bottle, html: {class: 'form-horizontal', role: 'form' }) do |f| %>
  <%= render "shared/error_messages", :target => @bottle %>
  <%= render "bottles/form_body", :f => f %>
<% end %>
