<table class="table">
  <thead>
    <tr>
      <th>Wine</th>
      <th>Country</th>
      <th>Region</th>
      <th>Grapes</th>
      <th>Vintage</th>
      <th>Price</th>
      <th>Score</th>
      <th>Review Date</th>
    </tr>
  </thead>
  <tbody>
    <% @wines.each do |wine| %>
    <tr>
      <td>
        <%= wine.winery.name %>
        <% if wine.other%>
          <br /> 
          <span class="text-muted"><%= wine.other %></span>
        <% end %> 
      </td>
      <td><%= wine.country %></td>
      <td><%= wine.region %></td>
      <td><%= wine.grape.name %></td>
      <td><%= wine.year %> </td>
      <td><%= number_to_currency(wine.favourite_bottles[0].price) %></td>
      <td><%= wine.favourite_bottles[0].score.to_i %></td>
      <td><%= wine.favourite_bottles[0].reviewdate.strftime('%d %b %Y') %></td>
    </tr>
    <% end %>
  </tbody>
</table>
