<ul class="nav nav-tabs">
	<li class="<%= 'active' unless params[:term] == 'soon' %>"><a href="cellar.html">All</a></li>
	<li class="<%= 'active' if params[:term] == 'soon' %>"><a href="cellar.html?term=soon">Ready to Drink</a></li>
</ul>
<h2>Cellar Report</h2>
<table class="table">
  <thead>
    <tr>
      <th>Wine</th>
      <th>Country</th>
      <th>Region</th>
      <th>Grapes</th>
      <th>Vintage</th>
      <th>Bought</th>
      <th>Price</th>
      <th>From</th>
      <th>To</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  	<% @wines.each do |wine| %>
    <tr>
      <td>
      	<%= wine.winery.name %>
      	<% if wine.other%>
	      	<br /> 
	      	<span class="muted"><%= wine.other %></span>
      	<% end %> 
      </td>
      <td><%= wine.country %></td>
      <td><%= wine.region %></td>
      <td><%= wine.list_grape_names.join(', ') %></td>
      <td><%= wine.year %> </td>
      <td><%= wine.bottles[0].bought %> </td>
      <td><%= number_to_currency(wine.bottles[0].price) %></td>
      <td><%= wine.bottles[0].from %> </td>
      <td><%= wine.bottles[0].to %> </td>
      <td><%= link_to 'Show', wine %></td>
    </tr>
    <% end %>
  </tbody>
</table>