<h2>Favourite Wines</h2>
<form id="score_filter_form" action="/reports/favourite_wines">
	<label for="score_filter">Minimum score</label>
	<select id="score_filter" name="score_filter">
		<option>96</option>
		<option>95</option>
		<option>94</option>
		<option>93</option>
		<option>92</option>
		<option>91</option>
		<option selected="selected">90</option>
	</select>
</form>
<table class="table">
  <thead>
    <tr>
      <th>Wine</th>
      <th>Country</th>
      <th>Region</th>
      <th>Grapes</th>
      <th>Vintage</th>
      <th>Price</th>
      <th>Score</th>
      <th>Review Date</th>
    </tr>
  </thead>
  <tbody>
  	<% @wines.each do |wine| %>
    <tr>
      <td>
      	<%= wine.winery.name %>
      	<% if wine.other%>
	      	<br /> 
	      	<span class="muted"><%= wine.other %></span>
      	<% end %> 
      </td>
      <td><%= wine.country %></td>
      <td><%= wine.region %></td>
      <td><%= wine.list_grape_names.join(', ') %></td>
      <td><%= wine.year %> </td>
      <td><%= number_to_currency(wine.favourite_bottles[0].price) %></td>
      <td><%= wine.favourite_bottles[0].score %></td>
      <td><%= wine.favourite_bottles[0].reviewdate.strftime('%d %b %Y') %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
	$('#score_filter').change(function() {
		$('#score_filter_form').submit();
	});
</script>