<h3>Wines</h3>
 <!-- FIXME style this page
 -->
<div>
   <%= link_to 'Create new wine', new_wine_path %>
</div>
<div>
	<%= form_tag(wines_path, :method => "get") do %>
	  	<%= label_tag(:term, "Search") %>
  		<%= text_field_tag(:term) %>
  		<%= submit_tag("Search") %>
  	<% end %>
</div>
<table>
  <thead>
    <tr>
      <td>Winery name</td>
      <td>Country</td>
      <td>Region</td>
      <td>Grapes</td>
      <td>Year</td>
    </tr>
  </thead>
  <tbody>
  	<% @wines.each do |wine| %>
    <tr>
      <td><%= wine.winery.name %></td>
      <td><%= wine.country %></td>
      <td><%= wine.region %></td>
      <td><%= wine.list_grape_names.join(', ') %></td>
      <td><%= wine.year %> </td>
      <td><%= link_to 'Show', wine %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% if ! params[:term] %>
	<%= will_paginate @wines %>
<% end %>
