<h3>Wines</h3>
<form id="grape_filter_form" action="/wines">
	<input type="hidden" name="utf8" value="✓" />
	<input id="grape_filter" autocomplete="off" placeholder="All Grapes" name="grape_filter">
</form>
<table class="table">
  <thead>
    <tr>
      <th>Wine</th>
      <th>Country</th>
      <th>Region</th>
      <th>
      	Grapes
      </th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
  	<% @wines.each do |wine| %>
    <tr>
      <td>
      	<%= wine.winery.name %>
      	<% if wine.other %>
      		<br /> <small class="muted"><%= wine.other %></small>
      	<% end%>
      </td>
      <td><%= wine.country %></td>
      <td><%= wine.region %></td>
      <td><%= wine.list_grape_names.join(', ') %></td>
      <td><%= wine.year %> </td>
      <td><%= link_to 'Show', wine %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% if ! params[:term] and ! params[:reviews_from] and ! params[:reviews_to] %>
	<%= will_paginate @wines %>
<% end %>
<script type="text/javascript">
  $('#grape_filter').typeahead({
  	name: "grapes",
  	remote : "/grapes/search?term=%QUERY"
  }).on('typeahead:selected', function(e, selected_grape) {
  	$('#grape_filter_form').submit();
  });
</script>