<h3>Wines</h3>
<!-- FIXME see if this form can be straightened out with bootstrap 3 -->
<form id="filter_form" class="form-inline" action="/wines" role='search'>
	<input type="hidden" name="utf8" value="✓" />
	<input type="text" class="form-control" id="grape_filter" autocomplete="off" placeholder="All Grapes" name="grape_filter">
	<select id="country_filter" name="country_filter" class="span3 form-control" style="width: 22%">
		<option value="">Choose Country</option>
		<% Country::COUNTRY_LIST.each do |country| %>
			<option value="<%= country %>"><%= country %></option>
		<% end%>
	</select>
	<button class="btn btn-default" type="submit">Filter</button>
</form>
<table class="table">
  <thead>
    <tr>
      <th>Wine</th>
      <th>Country</th>
      <th>Region</th>
      <th>
      	Grapes
      </th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
  	<% @wines.each do |wine| %>
    <tr>
      <td>
      	<%= wine.winery.name %>
      	<% if wine.other %>
      		<br /> <small class="muted"><%= wine.other %></small>
      	<% end%>
      </td>
      <td><%= wine.country %></td>
      <td><%= wine.region %></td>
      <td><%= wine.list_grape_names.join(', ') %></td>
      <td><%= wine.year %> </td>
      <td><%= link_to 'Show', wine %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% if ! params[:term] and ! params[:reviews_from] and ! params[:reviews_to] %>
	<%= will_paginate @wines %>
<% end %>
<script type="text/javascript">
  $('#grape_filter').typeahead({
  	name: "grapes",
  	remote : "/grapes/search?term=%QUERY"
  });
</script>