<h3>Wines</h3>
<table class="table">
  <thead>
    <tr>
      <td>Wine</td>
      <td>Country</td>
      <td>Region</td>
      <td>Grapes</td>
      <td>Year</td>
    </tr>
  </thead>
  <tbody>
  	<% @wines.each do |wine| %>
    <tr>
      <td>
      	<%= wine.winery.name %>
      	<% if wine.other %>
      		<br /> <small class="muted"><%= wine.other %></small>
      	<% end%>
      </td>
      <td><%= wine.country %></td>
      <td><%= wine.region %></td>
      <td><%= wine.list_grape_names.join(', ') %></td>
      <td><%= wine.year %> </td>
      <td><%= link_to 'Show', wine %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% if ! params[:term] %>
	<%= will_paginate @wines %>
<% end %>