<h3>Wines</h3>
<div>
	<%= form_tag(wines_path, :method => "get", :class => 'form-search') do %>
		<i class="icon-search"></i>
  		<%= text_field_tag 'term', nil, :class => 'input-medium search-query' %>
  		<button type="submit" class="btn">Search</button>
  	<% end %>
</div>
<table class="table">
  <thead>
    <tr>
      <td>Winery name</td>
      <td>Country</td>
      <td>Region</td>
      <td>Grapes</td>
      <td>Year</td>
    </tr>
  </thead>
  <tbody>
  	<% @wines.each do |wine| %>
    <tr>
      <td><%= wine.winery.name %></td>
      <td><%= wine.country %></td>
      <td><%= wine.region %></td>
      <td><%= wine.list_grape_names.join(', ') %></td>
      <td><%= wine.year %> </td>
      <td><%= link_to 'Show', wine %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% if ! params[:term] %>
	<%= will_paginate @wines %>
<% end %>