<h3>Wines</h3>
<form id="grape_filter_form" action="/wines">
	<input type="hidden" name="utf8" value="✓" />
	<input id="grape_filter" data-provide="typeahead" autocomplete="off" placeholder="All Grapes" name="grape_filter">
</form>
<table class="table">
  <thead>
    <tr>
      <th>Wine</th>
      <th>Country</th>
      <th>Region</th>
      <th>
      	Grapes 
      </th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
  	<% @wines.each do |wine| %>
    <tr>
      <td>
      	<%= wine.winery.name %>
      	<% if wine.other %>
      		<br /> <small class="muted"><%= wine.other %></small>
      	<% end%>
      </td>
      <td><%= wine.country %></td>
      <td><%= wine.region %></td>
      <td><%= wine.list_grape_names.join(', ') %></td>
      <td><%= wine.year %> </td>
      <td><%= link_to 'Show', wine %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% if ! params[:term] %>
	<%= will_paginate @wines %>
<% end %>
<script type="text/javascript">
  $('#grape_filter').change(function() {
  	$('#grape_filter_form').submit();
  }).typeahead({
  	source : function(query, process) {
		return $.ajax({
			url: '/grapes/search',
			type: 'get',
			data: {term: query},
			dataType: 'json',
			success : function(json) {
				return process(json);
			}
		});
  	}
  });
</script>