<h2>Create new wine</h2>
<%= form_for(@wine) do |f| %>
  <%= render "shared/error_messages", :target => @wine %>
  <div class="field">
    <label for="winery_name">Winery Name * </label> <br />
    <input id="winery_name" type="text" name="winery_name" data-provide="typeahead" value="<%= @winery_name %>" size="30" autocomplete="off" />
  </div>
  <div class="field">
    <%= f.label :other, 'Other Notes' %><br />
    <%= f.text_field :other %>
  </div>
  <div class="field">
    <%= f.label :year, 'Year *' %> <br />
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label 'Grapes' %><br />
    <%= select("grape", "0", Grape.all.collect { |g| [g.name, g.id] }, {:prompt => 'Choose grapes'} ) %>
    <input id="grape_ids" type="hidden" name="grape_ids" value="<%= @grape_ids %> " />
  </div>
  <div class="field">
    <ul id="grape_list">
    </ul>
  </div>
  <div class="field">
    <%= f.label :lcbo_code, 'LCBO Code' %><br />
    <%= f.text_field :lcbo_code %>
  </div>
  <div class="field">
    <%= f.label :country, 'Country *' %> <br />
    <%= select("wine", "country", Country::COUNTRY_LIST, {:prompt => 'Choose country'} ) %>
  </div>
  <div class="field">
    <%= f.label :region %><br />
    <%= select("wine", "region", @regions) %>
  </div>
  <div>
    <button type="submit" class="btn">Submit</button>
  </div>
<% end %>

<script type="text/javascript">
  wines.enableGrapePicker();
  wines.enableRegionPicker();

  $('#winery_name').typeahead({
  	source : function(query, process) {
  		return $.ajax({
  			url: '/wineries/search',
  			type: 'get',
  			data: {term: query},
  			dataType: 'json',
  			success : function(json) {
  				return process(json);
  			}
  		});
  	}
  });
</script>