<h2>Create new wine</h2>
<%= form_for(@wine) do |f| %>
  <% if @wine.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@wine.errors.count, "error") %> prohibited
        this wine from being saved:</h2>
    <ul>
    <% @wine.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <label for="winery_name">Winery Name</label> <br />
    <!-- FIXME auto-complete for existing wineries
    -->
    <input id="winery_name" type="text" name="winery_name" value="<%= @winery_name %> " size="30" />
  </div>
  <div class="field">
    <%= f.label :other, 'Other Notes' %><br />
    <%= f.text_field :other %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label 'Grapes' %><br />
    <%= select("grape", "0", Grape.all.collect { |g| [g.name, g.id] }, {:prompt => 'Choose grapes'} ) %>
    <input id="grape_ids" type="hidden" name="grape_ids" value="<%= @grape_ids %> " />
  </div>
  <div class="field">
    <ul id="grape_list">
    </ul>
  </div>
  <div class="field">
    <%= f.label :lcbo_code, 'LCBO Code' %><br />
    <%= f.text_field :lcbo_code %>
  </div>
  <div class="field">
    <%= f.label :other %><br />
    <%= f.text_field :other %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= select("wine", "country", Country::COUNTRY_LIST, {:prompt => 'Choose country'} ) %>
  </div>
  <div class="field">
    <%= f.label :region %><br />
    <%= select("wine", "region", @regions) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
  enableGrapePicker();
  enableRegionPicker();
</script>
