<h2>Create new wine</h2>
<%= form_for(@wine, html: { class: 'form-horizontal', role: 'form' }) do |f| %>
  <%= render "shared/error_messages", :target => @wine %>
  <div class="form-group">
    <label for="winery_name" class="col-lg-2 control-label">Winery Name * </label>
    <div class="col-lg-3">
    	<input class="form-control" id="winery_name" type="text" name="winery_name" value="<%= @winery_name %>" style="width: 269px" autocomplete="off" />
    </div>
  </div>
  <div class="form-group">
   	<%= f.label :other, 'Other Notes', class: 'col-lg-2 control-label' %>
  	<div class="col-lg-3">
	    <%= f.text_field :other, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :year, 'Year *', class: 'col-lg-2 control-label' %>
  	<div class="col-lg-3">
	    <%= f.text_field :year, class: 'form-control' %>
	</div>
  </div>
  <div class="form-group">
    <%= f.label 'Grapes', class: 'col-lg-2 control-label' %>
   	<div class="col-lg-3">
   		<input type="text" id="grape_name" size="168" class="form-control" />
	    <input id="grape_ids" type="hidden" name="grape_ids" value="<%= @grape_ids %> " />
	</div>
  </div>
  <div class="form-group">
  	<label class="col-lg-2 control-label"></label>
  	<div class="col-lg-3">
	    <ul id="grape_list"></ul>
  	</div>
  </div>
  <div class="form-group">
    <%= f.label :lcbo_code, 'LCBO Code', class: 'col-lg-2 control-label' %>
  	<div class="col-lg-3">
	    <%= f.text_field :lcbo_code, class: 'form-control' %>
	</div>
  </div>
  <div class="form-group">
    <%= f.label :country, 'Country *', class: 'col-lg-2 control-label' %>
  	<div class="col-lg-3">
	    <%= select("wine", "country", Country::COUNTRY_LIST, {:prompt => 'Choose country'}, { :class => "form-control" } ) %>
	</div>
  </div>
  <div class="form-group">
    <%= f.label :region, class: 'col-lg-2 control-label' %>
 	<div class="col-lg-3">
	    <%= select("wine", "region", @regions, {}, { :class => "form-control" }) %>
	</div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
  		<button type="submit" class="btn btn-default">Submit</button>
  	</div>
  </div>
<% end %>

<script type="text/javascript">
  var $grape_name_field = $('#grape_name'); 
  wines.enableGrapePicker($grape_name_field);
  wines.enableRegionPicker();

  $('#winery_name').typeahead({
  	name: "wineries",
  	remote: '/wineries/search?term=%QUERY',
  });
  $grape_name_field.typeahead({
  	name: "grapes",
  	remote : "/grapes/search?detailed=true&term=%QUERY",
  	valueKey: "name"
  });
</script>