<p id="notice"><%= notice %></p>

<h2>
  <%= @wine.winery.name %> <%= @wine.grapes_to_s %> <%= @wine.year %>
  (<% if ! @wine.region.empty?%><%= @wine.region %>, <% end %>
<%= @wine.country %>)
<% if ! @wine.other? %>
   <%= @wine.other %>
<% end %>
</h2>

<% if ! @wine.lcbo_code.empty? %>
  <a href="http://www.lcbo.ca/lcbo-ear/lcbo/product/details.do?language=EN&itemNumber=<%= @wine.lcbo_code %>" target="_new">See in LCBO</a>
<% end %>

<h2>Scores</h2>
<% if ! @wine.scores.empty? %>
  <table class="wine_scores">
    <tr>
      <th>Date</th>
      <th>Score</th>
      <th>Comments</th>
    </tr>
  <% @wine.scores.each do |score| %>
    <tr>
      <td><%= score.wine_reviewdate %></td>
      <td><%= score.wine_score %></td>
      <td><%= score.comments %></td>
    </tr>
  <% end %>
  </table>
<% else %>
  No scores for this wine.
<% end %>
<br />

<% if @wine.in_cellar %>
<h2>Cellar Information</h2>
<dl>
  <dt>Purchase Date</dt>
  <dd><%= @wine.purchase_date %></dd>
  <dt>Drink From</dt>
  <dd><%= @wine.drink_from %></dd>
  <dt>Drink To</dt>
  <dd><%= @wine.drink_to %></dd>
</dl>
<% end %>
