<p id="notice"><%= notice %></p>

<h2>
  <%= @wine.winery.name %> <%= @wine.grapes_to_s %> <%= @wine.year %>
  (<% if ! @wine.region.empty?%><%= @wine.region %>, <% end %>
<%= @wine.country %>)
<% if ! @wine.other? %>
   <%= @wine.other %>
<% end %>
</h2>

<% if ! @wine.lcbo_code.empty? %>
  <a href="http://www.lcbo.ca/lcbo-ear/lcbo/product/details.do?language=EN&itemNumber=<%= @wine.lcbo_code %>" target="_new">See in LCBO</a>
<% end %>
<% if ! @wine.lcbo_code.empty? %>
  <!-- FIXME add link
  -->
  <a href="#" target="_new">See in WineAlign</a>
<% end %>

<h2>Scores</h2>
<% if ! @wine.real_scores.empty? %>
  <table class="wine_scores">
    <tr>
      <th>Date</th>
      <th>Score</th>
      <th>Comments</th>
    </tr>
  <% @wine.real_scores.each do |score| %>
    <tr>
      <td><%= score.wine_reviewdate %></td>
      <td><%= score.wine_score %></td>
      <td><%= score.comments %></td>
    </tr>
  <% end %>
  </table>
<% else %>
  No scores for this wine.
<% end %>
<br />

<% if ! @wine.cellar_scores.empty? %>
<h2>Cellar Guide</h2>
  <% @wine.cellar_scores.each do |score| %>
  <dl>
    <dt>Drink From</dt>
    <dd><%= score.from %></dd>
    <dt>Drink To</dt>
    <dd><%= score.to %></dd>
  </dl>
  <% end %>
<% end %>

<h2>Add a new score</h2>
<%= form_for([@wine, @wine.scores.build]) do |f| %>
  <div class="field">
    <%= f.label :reviewdate %>
    <%= f.text_field :reviewdate %>
  </div>
  <div class="field">
    <%= f.label :score %>
    <%= f.text_field :score %>
  </div>
  <div class="field">
    <%= f.label :comments %>
    <%= f.text_field :comments %>
  </div>
  <div class="field">
    <%= f.label :price %>
    $<%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :to %>
    <%= f.text_field :to %>
  </div>
  <div class="field">
    <%= f.label :from %>
    <%= f.text_field :from %>
  </div>
  <div class="field">
    <%= f.label :in_fridge %>
    <%= f.check_box :in_fridge %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', wines_path %>
