<h2>
  <%= @wine.winery.name %> <%= @wine.grapes_to_s %> <%= @wine.year %>
  (<% if ! @wine.region.empty?%><%= @wine.region %>, <% end %><%= @wine.country %>)
<% if ! @wine.other? %>
   <%= @wine.other %>
<% end %>
</h2>

<% if ! @wine.lcbo_code.empty? %>
	<ul class="nav nav-pills">
	    <li><a href="http://www.lcbo.ca/lcbo-ear/lcbo/product/details.do?language=EN&itemNumber=<%= @wine.lcbo_code %>" target="_new">See at LCBO</a></li>
	    <li><a href="http://www.winealign.com/search?q=<%= @wine.lcbo_code %>" target="_new2">See at WineAlign</a></li>
	</ul>
<% end %>

<h3>Scores</h3>
<% if ! @wine.drunk_bottles.empty? %>
  <table class="table">
    <tr>
      <th>Date</th>
      <th>Score</th>
      <th>Comments</th>
    </tr>
  <% @wine.drunk_bottles.each do |bottle| %>
    <tr>
      <td><%= bottle.wine_reviewdate %></td>
      <td><%= bottle.wine_score %></td>
      <td><%= bottle.comments %></td>
    </tr>
  <% end %>
  </table>
<% else %>
  No scores for this wine.
<% end %>

<% if ! @wine.cellar_bottles.empty? %>
<h3>In Cellar</h3>
  <% @wine.cellar_bottles.each do |bottle| %>
  <p>
    <% if ! bottle.from.nil? %>
    Drink From: <%= bottle.from %>.
    <% end %>
    <% if ! bottle.to.nil? %>
    Drink To: <%= bottle.to %>.
    <% end %>
    <%= link_to 'Edit', [@wine, bottle], :action => 'edit' %>
  </p>
  <% end %>
<% end %>

<h3>Add a new bottle</h3>
<p style="color: red"><%= notice %></p>

<%= render "bottles/form" %>