<%= render "wines/summary", :wine => @wine %>

<% if ! @wine.lcbo_code.empty? %>
	<ul class="nav nav-pills">
	    <li><a href="http://www.lcbo.ca/lcbo-ear/lcbo/product/details.do?language=EN&itemNumber=<%= @wine.lcbo_code %>" target="_new">See at LCBO</a></li>
	    <li><a href="http://www.winealign.com/search?q=<%= @wine.lcbo_code %>" target="_new2">See at WineAlign</a></li>
	</ul>
<% end %>

<% if flash[:tweeted] %>
<div class="alert alert-warning fade in">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	Tweet sent
</div>
<% end %>

<h3>Bottles</h3>
<% if ! @wine.drunk_bottles.empty? %>
  <table class="table">
    <tr>
      <th>Date</th>
      <th>Score</th>
      <th>Price</th>
      <th>Comments</th>
      <th></th>
    </tr>
  <% @wine.drunk_bottles.each do |bottle| %>
    <tr>
      <td><%= bottle.wine_reviewdate %></td>
      <td><%= bottle.wine_score %></td>
      <td><%= number_to_currency(bottle.price) %></td>
      <td><%= bottle.comments %></td>
      <td>
      	<% if bottle.can_tweet %>
      		<button class="btn btn-primary tweet-action" data-bottle-id="<%= bottle.id %>">Tweet</button>
      	<% end %>
      </td>
    </tr>
  <% end %>
  </table>
<% else %>
  No bottles for this wine.
<% end %>

<% if ! @wine.cellar_bottles.empty? %>
<h3>In Cellar</h3>
  <% @wine.cellar_bottles.each do |bottle| %>
  <p>
    <% if ! bottle.drink_from.nil? %>
    Drink From: <%= bottle.drink_from %>.
    <% end %>
    <% if ! bottle.drink_to.nil? %>
    Drink To: <%= bottle.drink_to %>.
    <% end %>
    <%= link_to 'Edit', [@wine, bottle], :action => 'edit' %>
  </p>
  <% end %>
<% end %>

<h3>Add a new bottle</h3>
<% if alert and ! alert.empty? %>
	<div class="alert alert-block alert-danger fade in">
		<% alert.each do |msg| %>
	        <p><%= msg %></p>
		<% end %>
	</div>
<% end%>

<%= render "bottles/form" %>

<div id="tweet-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Tweet bottle score</h4>
			</div>
			<div class="modal-body">
				<%= form_tag('/tweets/tweet_bottle', :method => :post) %>
		  			<fieldset>
			  			<textarea maxlength="140" class="form-control" rows="4" id="tweet-message" name="message" style="margin-bottom: 10px"></textarea>
						<input name="wine_id" type="hidden" value="<%= @wine.id %>" />
				    	<button type="submit" class="btn btn-primary">Tweet</button>
			    	</fieldset>
				</form>
			</div>
			<div class="modal-footer">
		    	<button class="btn btn-default" data-dismiss="modal">Close</button>
		  	</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var modal_ref = wines.enableBottleTweeting('#tweet-modal');

	$('.tweet-action').click(function(e) {
		var bottle_id = $(this).data('bottle-id');
		wines.generateTweet(bottle_id, function(tweet) {
			$('#tweet-message').val(tweet.msg);
			modal_ref.modal('show');
		});
	});

	$('#tweet-message').maxlength({
		alwaysShow: true
	});
</script>
