<!DOCTYPE html>
<html>
<head>
  <title>WineGuide</title>
  <%= stylesheet_link_tag    "bootstrap_and_overrides", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-language" content="en">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1>Wine Guide</h1>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<%= yield %>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<%= link_to "See all wines", wines_path %>
			</div>
		</div>
	</div>
</body>
</html>