<!DOCTYPE html>
<html>
<head>
  <title>WineGuide</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- FIXME style this
  -->
  <h1>Wine Guide</h1>
<%= yield %>

<div>
  <%= link_to "See all wines", wines_path %>
</div>
</body>
</html>
